# pesky xcuserstate file
*.xcuserstate

# since storyboard doesn't work well with git
*.storyboard

# macOS
.DS_Store

# xcuserdata
xcuserdata

# xcshareddata
xcshareddata

# ignoring our file that have our "Secrets"
Secrets.swift
